<header
  app-header
  class="container-fluid navbar bg-body-secondary p-3"
></header>

<div class="container-fluid flex-grow-1">
  <div class="container h-100">
    <div class="row h-100">
      <div
        class="offcanvas-lg offcanvas-end col-lg-3 col-xl-2 bg-body-secondary p-3"
        tabindex="-1"
        id="offcanvasResponsive"
        aria-labelledby="offcanvasResponsiveLabel"
      >
        <div class="offcanvas-header">
          <h2 class="offcanvas-title" id="offcanvasResponsiveLabel">
            Slack Lite menu
          </h2>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            data-bs-target="#offcanvasResponsive"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body flex-column">
          <div *ngIf="!isLogged; else elseBlock" class="mb-3">
            <a class="btn btn-outline-dark w-100" routerLink="/login"
              >Me connecter</a
            >
          </div>
          <ng-template #elseBlock>
            <div app-user-profile class="mb-3 position-relative"></div>
          </ng-template>

          <div class="d-flex justify-content-between mb-3">
            <h3>Canaux</h3>
            <button
              *ngIf="isLogged"
              type="button"
              class="btn btn-outline-dark rounded-circle"
              id="btn-toggle-create"
              title="créer un canal"
              data-bs-toggle="collapse"
              data-bs-target="#channel-create"
              aria-expanded="false"
              aria-controls="channel-create"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-down"
                viewBox="0 0 16 16"
              >
                <path
                  d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"
                />
              </svg>
            </button>
          </div>

          <div *ngIf="isLogged" app-channel-create-form></div>

          <div *ngIf="hasNewChannel" app-channel-list></div>
        </div>
      </div>

      <main class="col-lg-9 col-xl-10 bg-light p-0 rounded">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>

<footer app-footer class="container-fluid p-3"></footer>
