<ul class="list-unstyled">
  <!-- la classe channel-{{color}} doit être généré avec la couleur du canal 
        les liens sont dynamique et généré avec l'id
    -->

  <div *ngFor="let channel of channels">
    <li *ngIf="channel" class="mb-2">
      <a
        routerLink="{{ '/channels/' + channel.id }}"
        class="{{
          'btn btn-outline-dark w-100 text-break channel-' +
            channel.color.toString().toLowerCase()
        }}"
      >
        {{ channel.name }}
      </a>
    </li>
  </div>

  <li class="mb-2">
    <a
      routerLink="/channels/1"
      class="btn btn-outline-dark w-100 text-break channel-white"
      >Général</a
    >
  </li>
  <li class="mb-2">
    <a
      href="./loggeduser.html"
      class="btn btn-outline-dark w-100 text-break channel-black"
      >Utilisateur connecté</a
    >
  </li>
  <li class="mb-2">
    <a
      href="./publication.html"
      class="btn btn-outline-dark w-100 text-break channel-red"
      >Publication</a
    >
  </li>
  <li class="mb-2">
    <a
      href="./voidchannel.html"
      class="btn btn-outline-dark w-100 text-break channel-cyan"
      >Canal vide</a
    >
  </li>
  <li class="mb-2">
    <a
      href="./loadingchannel.html"
      class="btn btn-outline-dark w-100 text-break channel-green"
      >Canal loading</a
    >
  </li>
  <li class="mb-2">
    <a
      href="./editablechannel.html"
      class="btn btn-outline-dark w-100 text-break channel-eldenring"
      >Canal modifiable</a
    >
  </li>
</ul>
