.z-10 {
  z-index: 10;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-card {
    background-color: white;
    opacity: 1;
    width: 95%;
    max-width: 500px;
}

.modal-card-close {
    border: none;
}