<div
  class="row mx-1 mb-3 bg-white shadow rounded overflow-hidden position-relative"
>
  <div class="col-12 col-lg-2 p-2 bg-secondary-subtle">
    <div class="container text-center mb-3 container-avatar">
      <img
        src="../../../assets/img/default-user.svg"
        class="img-thumbnail rounded-circle w-75 object-fit-cover container-avatar-img"
        alt="avatar de { User }"
      />
    </div>
    <p class="h5 text-center text-break">{{ text }}</p>
  </div>
  <div class="col-12 col-lg-10 py-1">
    <p class="">Publié le 20 août 2023, 12:47</p>
    <p class="text-break" id="edit-text">
      Ceci est une publication dont l'auteur est l'utilisateur connecté, des
      boutons d'options sont alors disponibles.<br />
      Le premier bouton pour éditer la publication.<br />
      Le deuxième pour supprimer la publication et qui ouvre un modal pour la
      confirmation.
    </p>
    <!-- Formulaire d'édition de la publication -->
    <form class="pb-3 d-none" id="edit-form">
      <div class="mb-3">
        <label for="post-text" class="form-label">Modifier le message :</label>
        <textarea class="form-control" id="post-text" rows="3">
Ceci est une publication dont l'auteur est l'utilisateur connecté, des boutons d'options sont alors disponibles. Le premier bouton pour éditer la publication. Le deuxième pour supprimer la publication et qui ouvre un modal pour la confirmation.
                </textarea
        >
      </div>
      <!-- pb de margin -->
      <button type="submit" class="btn btn-outline-dark" id="edit-btn-submit">
        Modifier
      </button>
      <!-- pb de margin -->
      <button type="button" class="btn btn-danger" id="edit-btn-close">
        Annuler
      </button>
    </form>
    <!-- Fin formulaire d'édition de la publication -->
  </div>
  <!-- Boutons d'options si id user logged == id auteur -->
  <div class="w-auto position-absolute top-0 end-0 p-1">
    <button class="btn btn-secondary" title="Modifier" id="edit-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-pencil-square"
        viewBox="0 0 16 16"
      >
        <path
          d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
        />
        <path
          fill-rule="evenodd"
          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
        />
      </svg>
    </button>
    <!-- data-bs-target="#deleteModal" devrait être dynamique -->
    <button
      class="btn btn-danger"
      title="Supprimer"
      data-bs-toggle="modal"
      data-bs-target="#deleteModal"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-trash3"
        viewBox="0 0 16 16"
      >
        <path
          d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
        />
      </svg>
    </button>
  </div>
  <!-- Fin boutons d'options si id user logged == id auteur -->
</div>

<!-- Modal pour la confirmation de suppression -->
<!-- id="deleteModal" devrait être dynamique -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">
          Supprimer la publication
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {{ text }}
      </div>
      <div class="modal-footer justify-content-center">
        <!-- suppresion du post en cours avec une fonction pour supprimer post et fermer modal-->
        <button
          type="button"
          class="btn btn-outline-dark"
          id="modal-btn-confirm"
        >
          Supprimer
        </button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Annuler
        </button>
      </div>
    </div>
  </div>
</div>
