<h2 class="text-center my-3">Modifier mon compte</h2>

<div class="container text-center">
  <app-user-account-email></app-user-account-email>

  <app-user-account-password></app-user-account-password>

  <app-user-account-name></app-user-account-name>

  <app-user-account-avatar></app-user-account-avatar>

  <div class="border border-dark rounded col-12 col-lg-6 mx-auto mb-3 p-3">
    <p>Supprimer mon compte</p>
    
    <button class="btn btn-danger">Supprimer</button>

    <p *ngIf="" class="alert alert-danger mt-3">Une erreur est survenue</p>
  </div>
</div>