<h2 class="text-center my-3">Modifier mon compte</h2>

<div class="container text-center">
  <app-user-account-email></app-user-account-email>

  <app-user-account-password></app-user-account-password>

  <form class="border border-dark rounded col-12 col-lg-6 mx-auto mb-3 p-3" id="formUpdateName" novalidate>
    <div class="mb-3">
      <label for="name" class="form-label">Modifier mon nom</label>
      <input type="text" class="form-control text-center is-valid" aria-describedby="name-feedback" id="name"
        placeholder="Entrer votre nouveau pseudo" />
      <div class="invalid-feedback" id="pseudo-feedback">Pseudo invalide</div>
    </div>
    <button type="submit" class="btn btn-primary w-100">Valider</button>
  </form>

  <form class="border border-dark rounded col-12 col-lg-6 mx-auto mb-3 p-3" id="formUpdateAvatar" novalidate>
    <div class="mb-3">
      <label for="avatar" class="form-label">Modifier mon avatar</label>
      <input type="text" class="form-control text-center is-valid" aria-describedby="avatar-feedback" id="avatar"
        aria-describedby="avatarHelp" placeholder="Entrer l'url de votre avatar" />
      <div id="avatarHelp" class="form-text">
        Entrer l'url de votre fichier image
      </div>
      <div class="invalid-feedback" id="avatar-feedback">Avatar invalide</div>
    </div>
    <button type="submit" class="btn btn-primary w-100">Valider</button>
  </form>

  <div class="border border-dark rounded col-12 col-lg-6 mx-auto mb-3 p-3">
    <p>Supprimer mon compte</p>
    
    <button class="btn btn-danger">Supprimer</button>

    <p *ngIf="isDeleteError" class="alert alert-danger mt-3">Une erreur est survenue</p>
  </div>
</div>